* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cards-width: 150px;
  --cards-height: 187.5px;
}

html, body {
  height: 100%;
}

.theme-lol {
  background-image: url(Assets/Images/lol-wallpaper1.png);
}

.theme-rag {
  background-image: url(Assets/Images/rag-wallpaper1);
}

#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;
}

#header {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

#end-text {
  margin-left: auto;
  transform: translateX(20%);
  display: none;
}

.buttons {
  background-color: aliceblue;
  border: 2px solid black;
  font-size: 18px;
  margin: 5px;
  cursor: pointer;
}

#restart-button {
  border-radius: 5px;
  padding: 10px;
  margin-left: auto;
  display: none;
}

.theme-button-rag {
  background-image: url(Assets/Images/rag-icon1.png);
}

.theme-button-lol {
  background-image: url(Assets/Images/lol-icon1.png);
}

#theme-button {
  padding: 20px;
  border-radius: 5px;
  background-size: 50px;
  background-position: center;
}

#mute-button {
  padding: 20px;
  border-radius: 5px;
  background-image: url(Assets/Images/mute-button1.png);
  background-position: center;
  background-size: 30px;
  background-repeat: no-repeat;
}

#menu {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70%;
  font-size: 32px;
  z-index: 1;
}

#buttons-box {
  display: flex;
  width: 100%;
  height: 30%;
  justify-content: center;
}

.difficulty-buttons:focus {
  border: 3px solid black;
}

.difficulty-buttons {
  width: 8%;
  margin: 5px;
  border-radius: 8px;
}

#start-button {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

#cards-input {
  width: 20%;
  border: 2px solid black;
  border-radius: 3px;
  padding: 5px;
}

#grid-container::-webkit-scrollbar {
  display: none;
}

#grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  padding: 2%;
  justify-content: center;
  align-content: stretch;
  overflow: scroll;
  perspective: 1000px;
  gap: 1% 0.7%;
}

/* @media screen and (max-width: 768px) {
  #grid-container {
    grid-template-columns: repeat(6, 100px);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  #grid-container {
    grid-template-columns: repeat(7, 100px); 
  }
} */

.cards {
  width: var(--card-width);
  height: var(--card-height);
  transform-style: preserve-3d;
  transition: all 0.7s ease;
  border-radius: 5px;
  cursor: pointer;
}

.flip {
  transform: rotateY(180deg);
}


.card-front-lol {
  background-image: url(Assets/Images/lol-card1.png);
}

.card-front-rag {
  background-image: url(Assets/Images/rag-card1.png);
  border: 2px solid black;

}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid black;
  border-radius: 7px;
  background-size: contain;
  background-position: center;
}

.card-back-lol {
  box-shadow: 0px 2px 0px 1px black;
}

.card-back-rag {
  border: 2px solid black;
}


.card-back {
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background-color: deeppink;
  border-radius: 5px;
  background-size: cover;
  background-position: top;
}
